
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: teal;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 200px; 
  top: 200px;  
}
#leftPaddle {
  background-color: teal;
  width: 25px;
  height: 150px;
  position: absolute;
  left: 0px; 
  top: 0px;  
}
#rightPaddle {
  background-color: teal;
  width: 25px;
  height: 150px;
  position: absolute;
  left: 415px; /*board height less paddle width */
  top: 0px;  
}
#playerOneScore {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 30px;
  top: 0px;
}
#playerTwoScore {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 400px;
  top: 0px;
}
